<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <title>PWA • test</title>
  <link rel="manifest" href="manifest.json">

  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PWAtest">
  <meta name="apple-mobile-web-app-title" content="PWAtest">
  <meta name="theme-color" content="#1d497d">
  <meta name="msapplication-navbutton-color" content="#1d497d">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/">
  <meta name="viewport" content="width=device-width, shrink-to-fit=no, user-scalable=no">

  <link rel="icon" type="image/png" sizes="280x280" href="XXXXHDPI.png">
  <link rel="apple-touch-icon" type="image/png" sizes="280x280" href="XXXXHDPI.png">
  <link rel="icon" type="image/png" sizes="192x192" href="XXXHDPI.png">
  <link rel="apple-touch-icon" type="image/png" sizes="192x192" href="XXXHDPI.png">
  <link rel="icon" type="image/png" sizes="144x144" href="XXHDPI.png">
  <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="XXHDPI.png">
  <link rel="icon" type="image/png" sizes="96x96" href="XHDPI.png">
  <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="XHDPI.png">
  <link rel="icon" type="image/png" sizes="64x64" href="TVDPI.png">
  <link rel="apple-touch-icon" type="image/png" sizes="64x64" href="TVDPI.png">
  <link rel="icon" type="image/png" sizes="48x48" href="MDPI.png">
  <link rel="apple-touch-icon" type="image/png" sizes="48x48" href="MDPI.png">
  <link rel="icon" type="image/png" sizes="36x36" href="LDPI.png">
  <link rel="apple-touch-icon" type="image/png" sizes="36x36" href="LDPI.png">
  <link rel="icon" type="image/png" sizes="72x72" href="HDPI.png">
  <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="HDPI.png">
  <link rel="icon" type="image/png" sizes="820x820" href="ICON.png">
  <link rel="apple-touch-icon" type="image/png" sizes="820x820" href="ICON.png">

  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- Load polyfills to support older browsers -->
  <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="style/style.css">
  <script src="vue.js"></script>

</head>

<body>

  <main id="app" class="d-grid main">

    <div class="top-row">
      <b-navbar variant="faded" type="dark">
        <b-navbar-brand tag="h1" class="mb-0">
          <div class="icon-nav"><i class="fa fa-home"></i></div>
          <!--            <div class="icon-nav"><i class="fa fa-chevron-left"></i></div>-->
          <b>PWA</b> • test app
        </b-navbar-brand>
      </b-navbar>
    </div>


    <div class="main-row">

      <transition name="slide">
        <div class="screen" v-if="currScreen == 1" id="scr-1">
          <div class="wrapp">
            <h1>Home</h1>
          </div>
        </div>
      </transition>

        <div class="screen" v-else-if="currScreen == 2" id="scr-2">
          <h1>Calendar</h1>
        </div>
      
        <div class="screen" v-else-if="currScreen == 3" id="scr-3">
          <h1>Stat</h1>
        </div>
      
      <transition name="slide">
        <div class="screen" v-else-if="currScreen == 4" id="scr-4">
          <h1>Settings</h1>
        </div>
      </transition>


    </div>


    <div class="bottom-row">
      <div class="d-grid buttons-bottom">

        <div v-for="btn in bottomNav" :key="'btn-'+btn.toScreen" :class="'icon-item'+(btn.toScreen == currScreen ? ' active':'')+(btn.isBig?' big':'')" tabindex="1" @click="pageChange(btn.toScreen)">
          <i :class="btn.iconName"></i>
        </div>

      </div>
    </div>

  </main>
  <!-- Load Vue followed by BootstrapVue -->
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <!-- Load the following for BootstrapVueIcons support -->
  <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
  <script src="scripts/components.js"></script>
  <script>
    if ('serviceWorker' in navigator) {
      // Only call navigator.serviceWorker.register() if that's true.
      if (navigator.serviceWorker.controller) {
        console.log('[PWA Builder] active service worker found, no need to register')
      } else {
        navigator.serviceWorker.register('/sw.js', {
          scope: '/'
        }).then(function(reg) {
          console.log('Service worker has been registered for scope:' + reg.scope);
        });
      }
    } else console.log('Service Worker is not support')

    var app = new Vue({
      el: '#app',
      data: {
        btn: true,
        btnText: "HELLO",
        currScreen: 1,
        bottomNav: [{
            iconName: 'fa fa-home',
            isBig: false,
            toScreen: 1
          },
          {
            iconName: 'fa fa-calendar',
            isBig: false,
            toScreen: 2
          },
          {
            iconName: 'fa fa-plus',
            isBig: true,
            toScreen: 0
          },
          {
            iconName: 'fa fa-bar-chart',
            isBig: false,
            toScreen: 3
          },
          {
            iconName: 'fa fa-cog',
            isBig: false,
            toScreen: 4
          },
        ]
      },
      methods: {
        btnDown() {
          this.btn = !this.btn;
          if (this.btn) this.btnText = "HELLO";
          else this.btnText = "WORLD";
        },
        pageChange(page) {
          setTimeout(() => {
            this.currScreen = page;
          }, 100);
        }
      },
      mounted: function() {},


    });

  </script>
  <script src="https://use.fontawesome.com/aa4bd2ae6c.js"></script>
</body>

</html>
