:root {
  --main: #0f4c81;
  --light: #f0f4fc;
  --trans: all 0.5s ease-in-out;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./font/Ubuntu-Bold.eot');
  src: url('./font/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
    url('./font/Ubuntu-Bold.woff') format('woff'),
    url('./font/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('./font/Ubuntu-Regular.eot');
  src: url('./font/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
    url('./font/Ubuntu-Regular.woff') format('woff'),
    url('./font/Ubuntu-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  background: #dbe1ed;
}

div:focus {
  outline: none;
}

.d-grid {
  display: grid;
}

.main {
  height: 100vh;
  grid-template-rows: 50px 1fr 55px;
}

.top-row {
  background: var(--main);
}

.bottom-row {
  background: var(--light);
  box-shadow: 0 0px 25px rgba(15, 16, 47, 0.2);
}

.icon-nav {
  float: left;
  font-size: 1.4em;
  line-height: 1.1em;
  margin-right: 15px;
}

.buttons-bottom {
  grid-template-columns: repeat(5, 1fr);
  padding: 0 14px;
}

.icon-item {
  padding: 2px 0 1px;
  text-align: center;
  font-size: 1.5em;
  line-height: 2.5em;
  color: var(--main);
  opacity: 1;
}

.icon-item.big {
  font-size: 3.7em;
  background: var(--primary);
  padding: 14px;
  color: white;
  height: 75px;
  justify-self: center;
  width: 75px;
  border-radius: 50%;
  line-height: 0.5em;
  transform: translateY(-20px);
  box-shadow: 0 0 25px rgba(15, 16, 47, 0.05);
  margin-bottom: -100%;
}

.icon-item:active {
  background-image: radial-gradient(circle, rgba(15, 76, 129, 1) 60%, rgba(255, 255, 255, 0) 63%);
  background-repeat: no-repeat;
  background-size: 0% 0%;
  background-position: center center;
  animation: icon-item-bg .45s cubic-bezier(.42, 0, .25, 1.12);
  animation-fill-mode: forwards;
}

@keyframes icon-item-bg {
  from {
    background-size: 2% 2%;
    opacity: 1;
  }

  50% {
    background-size: 170% 170%;
    color: white;
  }

  to {
    background-size: 170% 170%;
    color: white;
    opacity: .85;
  }
}

.icon-item.active {
  background-size: 170% 170%;
  color: white;
  opacity: .85;
  background: rgba(15, 76, 129, 1);
}

.main-row {
  overflow: hidden;
  height: 100%;
}

.screen {
  width: 100%;
  padding: 14px;
}

.screen h1 {
  font-weight: bold;
  font-size: 1.2em;
  color: #7e7eb5;
  text-shadow: 0 1px 10px rgba(21, 114, 196, 0.22);
}

.slide-enter-active{
  transition: all .4s ease-out;
  transition-delay: .2s;
}
.slide-leave-active {
  transition: all .2s ease;
}

.slide-enter {
  transform: scale(.8);
  opacity: 0;
}

.slide-enter-to,
.slide-leave {
  transform: scale(1);
  opacity: 1;
}

.slide-leave-to {
  transform: scale(1.2);
  opacity: 0;
}
.fade {
  opacity: 1;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
.card {
  background: #f3f7ff;
}